<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- 以上为蓝牙权限 -->
    <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <!-- android 9.0上使用前台服务，需要添加权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 允许程序振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于后台定位 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_alpha"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".StorageChooseActivity"
            android:exported="false" /> <!-- android:requestLegacyExternalStorage="true" -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nuCmvvFojiaPpak1kPtSSLTl6L1fYOPe" /> <!-- <activity android:name=".DemoListActivity" /> -->
        <!-- <activity android:name=".MainActivity" /> -->
        <!--  -->
        <!-- android:label="@string/app_name" -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".OfflineActivity"
            android:exported="false" />
        <activity
            android:name=".WalkingRouteSearch"
            android:exported="false" />
        <activity
            android:name=".power_individual_demo.DeviceListActivity"
            android:exported="false" />
        <activity
            android:name=".BlueToothListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="设备列表"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.MinWidth"
            android:exported="false"/>
        <activity
            android:name=".LoraSetting"
            android:exported="false"/>

        <service android:name=".power_individual_demo.UartService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"
            android:foregroundServiceType="location"/>
    </application>

</manifest>